.paymentSelection {
    margin-top: 30px
}

.paymentSelection img {
    margin-left: 15px;
}

.paymentSelection .form-check{
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--brown-grey-two);
    padding-left: 0;
    margin-bottom: 20px;
}

.paymentRadio {
    -webkit-appearance: none;
    margin-right: 20px;
    height: 20px;
    width: 20px;
    background: white;
    border: solid 1px var(--brown-grey-two);
    border-radius: 20%;
    vertical-align: middle;
}

.paymentSelection span{
    vertical-align: middle;
    margin-right: 15px;
}
.paymentRadio:hover {
    background: var(--white-two);
}
.paymentRadio:checked {
    background: var(--pale-teal);
    border: var(--pale-teal);
    background-image: url(/assets/icons/check.svg);
    background-position: left center;
    background-size: auto 100%;
}

.paymentRadio:focus {
    outline: none;
}

.paymentRadio:checked::before {
    height: 20px;
    width: 20px;
    display: inline-block;
}
.paymentRadio:checked::after {
    background: var(--pale-teal);
    border: var(--pale-teal);
    content: '';
}