.donationButtonsRow {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 40px;
}

.donationButtonsRow .form-check {
    margin: 0 !important;
}

.donationButtonsRow input[type="radio"] {
    display: none;
}

.donationButtonContainer img {
    width: 35px;
}

.donationButtonContainer {
    width: 145px;
    height: 145px;
    border-radius: 12px;
    text-align: center;
    padding: 12px 15px 15px 15px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.donationButtonsRow .col {
    padding: 0 !important;
}

.donationButtonContainer img {
    margin-left: auto !important;
    margin-right: auto !important;
    height: 45px;
}

.donationContainer label {
    margin-bottom: 0.65rem;
}

.donationButtonContainer p {
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.3px;
    text-align: center;
    margin-bottom: 0.75rem;
}

.donationButtonContainer h3.donationPrice {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.8px;
    text-align: center;
    margin: initial;
    font-family: "Lato", sans-serif;
}

.donationButtonContainer:hover {
    transform: scale(1.05);
}

