.donationButtonsRow {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 40px;
}

.donationButtonsRow .form-check {
    margin: 0 !important;
}

.donationButtonsRow input[type="radio"] {
    display: none;
}

.donationButtonContainer img {
    width: 35px;
}

.donationButtonContainer{
    width: 135px;
    height: 135px;
    border-radius: 12px;
    text-align: center;
    padding: 12px 15px 15px 15px;
    border: none;
}

.donationButtonsRow .col{
    padding: 0 !important;
}

.donationButtonContainer img{
    margin-left: auto !important;
    margin-right: auto !important;
    height: 45px;
}

.donationButtonContainer p{
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.3px;
    text-align: center;
    margin-bottom: 0.75rem;
}

.donationButtonContainer h3{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.8px;
    text-align: center;
}

.donationButtonContainer:hover {
    transform: scale(1.05);
}

