
.thanksContainer h3 {
    font-family: Lato, sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #797a79;
    margin-bottom: 24px;
}

.thanksContainer .headingParagraph {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #aeaeae;
    padding-right: 25px;
    margin-bottom: 25px;
}

.thanksContainer img {
    height: 290px;
    margin-left: 150px;
}

.socialPointsContainer {
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.3px;
    color: #f5af0b;
    margin-bottom: 55px;
    margin-top: 25px;
    background-image: url("/assets/images/socialpoints.svg");
    background-size: cover;
    height: 160px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socialPointsAmount {
    font-size: 30px;
    margin-bottom: 10px;
}

.socialPointsAmount, .socialPointsMessage {
    flex: 0 1;
}


.buttonContainer {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

.closeButton {
    border-radius: 12px;
    background-color: #277f8e;
    font-family: Lato;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.3px;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
}