.loginContainer {
    width: 300px;
    padding-left: 0;
    padding-right: 0;
}

.loginContainer form {
    width: 100%;
    padding: 20px;
}

.loginContainer input {
    border: solid 1px #cdcdcd;
    background-color: #f4f4f4;
    border-left-style: none;
}

.loginContainer #password-group, .emailPasswordReset {
    margin-bottom: 30px;
}

.loginContainer img {
    background: var(--white-two);
}

.loginContainer img.focused {
    background-color: transparent;
}

.passwordLost {
    margin: 0 auto;
}

.passwordLost:hover, .backToLogin:hover {
    color: #16181b;
    cursor: pointer;
}

.passwordLost p {
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: center;
    color: var(--brownish-grey);
    margin-bottom: 0;
}

.passwordResetDescription {
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #9a9a9a;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
}

.passwordResetSubmittedText {
    padding-left: 20px;
    padding-top: 20px;
}

.passwordResetSubmittedText h4 {
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #797a79;
}

.passwordResetSubmittedText p {
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #9a9a9a;
    padding-right: 20px;
    padding-top: 10px;
}

.backToLogin p {
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: center;
    color: var(--brownish-grey);
    margin-bottom: 0;
}