.loginContainer {
	width: 300px;
	padding: 20px 0;
	max-width: calc(100vw - 70px);
	background-color: white;
	border-radius: 13px
}

.loginContainer form {
	width: 100%;
	padding: 20px;
}

.loginContainer input {
	border: solid 1px #cdcdcd;
	background-color: white;
	border-left-style: none;
}

.loginContainer #passwordGroup, .emailPasswordReset {
	margin-bottom: 30px;
}

.loginContainer img {
	background: white;
}

.loginContainer img.focused {
	background-color: transparent;
}

.passwordLost {
	margin: 0 auto;
}

.passwordLost:hover, .backToLogin:hover {
	color: #16181b;
	cursor: pointer;
}

.passwordLost p {
	font-family: Lato, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.45;
	letter-spacing: normal;
	text-align: center;
	color: var(--brownish-grey);
	margin-bottom: 0;
}

.passwordResetDescription {
	font-family: Lato, sans-serif;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.38;
	letter-spacing: normal;
	color: #9a9a9a;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 0;
}

.passwordResetSubmittedText {
	padding-left: 20px;
	padding-top: 20px;
}

.passwordResetSubmittedText h4 {
	font-family: Lato, sans-serif;
	font-size: 20px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 1px;
	color: #797a79;
}

.passwordResetSubmittedText p {
	font-family: Lato, sans-serif;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.38;
	letter-spacing: normal;
	color: #9a9a9a;
	padding-right: 20px;
	padding-top: 10px;
}

.backToLogin p {
	font-size: 13px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.45;
	letter-spacing: normal;
	text-align: center;
	color: var(--brownish-grey);
	margin-bottom: 0;
}

.loginFormButton {
	text-transform: uppercase;
}

.notRegisteredWrapper{
    padding: 0 20px;
    margin-top: -10px;
    margin-bottom: 20px;
}

a.notRegistered {
	border: 2px solid var(--yellow-orange);
	color: var(--yellow-orange)!important;
	background: white;
	padding: 7px;
	border-radius: 12px;
	text-transform: uppercase;
	width: 260px;
	text-align: center;
    font-size: 13px;
    letter-spacing: 1.3px;
    font-weight: bold;
}
