.loginContainer {
    width: 300px;
    padding-left: 0;
    padding-right: 0;
}

.loginContainer form {
    width: 100%;
    padding: 20px;
}

.loginContainer input {
    border: solid 1px #cdcdcd;
    background-color: #f4f4f4;
    border-left-style: none;
}

.loginContainer #password-group {
    margin-bottom: 30px;
}

.loginContainer img {
    background: var(--white-two);
}

.loginContainer img.focused {
    background-color: transparent;
}

.passwordLost {
    width: 100%;
}

.passwordLost p {
    font-family: Lato, sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: center;
    color: var(--brownish-grey);
    margin-bottom: 0;
}