.chatContainer h1, .chatDetailContainer h1 {
	font-size: 30px;
	font-weight: 500;
	color: var(--brown-grey);
}

.chatDetailContainer h3 {
	margin-top: 30px;
	font-size: 20px;
	color: var(--brown-grey);
}

.chatContainer h6, .chatDetailContainer h6 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: medium;
	letter-spacing: 1.5px;
	color: var(--ugly-blue);
}

.chatRoomContainer {
	padding: 0;
}

.chatRoomContainer p {
	font-size: 12px;
	font-weight: 500;
	color: var(--brown-grey-two);
}

.chatBlockButtonWrapper {
	text-align: center;
	height: 50px;
}

.chatBlockButton {
	margin-top: 15px;
	width: 95%;
}

.chatButton, .chatButton:focus, .chatButton:active {
	transition: all 0.3s ease;
	background-color: var(--ugly-blue) !important;
	text-transform: uppercase;
	font-size: x-small;
	font-weight: bold;
	letter-spacing: 1.3px;
	border: none;
	border-radius: 12px;
}

.chatButton:hover {
	transform: scale(1.05);
	background-color: var(--ugly-blue);
}

.chatButton:disabled:hover {
	transform: none;
	cursor: not-allowed;
}

.table {
	background-color: var(--white-two);
	border-radius: 12px;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.numberParticipants{
	font-size: x-small;
	font-weight: bold;
}

.participantContainer {
	margin: 20px 0;
	padding: 0;
}

.chatParticipantAvatar {
	width: 33px;
	height: 33px;
	border-radius: 50%;
	margin-right: -5px;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4);
}

.excessNumberParticipants {
	margin-left: 12px;
	font-size: xx-small;
	font-weight: bold;
}

.chatParticipantContainer {
	text-align: center;
	background-color: var(--white-two);
	border-radius: 12px;
	margin: 15px 0;
}

.participantCount {
	font-size: x-small;
	font-weight: bold;
	padding: 10px 0;
}

.chatDonateContainer {
	padding: 0;
}
