.chatContainer h1, .chatDetailContainer h1 {
	font-size: 30px;
	font-weight: 300;
	color: var(--brown-grey);
	text-transform: uppercase;
}

.chatContainer h6, .chatDetailContainer h6 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: medium;
	letter-spacing: 1.5px;
	color: var(--ugly-blue);
	margin-top: 50px;
}

.chatDetailContainer .describer {
	font-size: 12px;
	color: var(--brown-grey);
	margin-bottom: 5px;
}

.chatRoomContainer {
	padding: 0;
}

.chatRoomContainer p {
	font-size: small;
	font-weight: 500;
	color: var(--brown-grey-two);
}

.chatBlockButtonWrapper {
	text-align: center;
	height: 50px;
}

.chatBlockButton {
	margin-top: 15px;
	width: 95%;
}

.chatButton, .chatButton:focus, .chatButton:active {
	transition: all 0.3s ease;
	background-color: var(--ugly-blue) !important;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1.3px;
	border: none;
	border-radius: 12px;

}

.chatButton:hover {
	transform: scale(1.05);
	background-color: var(--ugly-blue);
}

.chatButton:disabled:hover {
	transform: none;
	cursor: not-allowed;
}

.table {
	background-color: var(--white-two);
	border-radius: 12px;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.numberParticipants {
	font-size: x-small;
	font-weight: bold;
}

.participantContainer {
	margin: 20px 0;
	padding: 0;
}

.chatParticipantAvatar {
	width: 33px;
	height: 33px;
	border-radius: 50%;
	margin-right: -5px;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4);
	object-fit: cover;
}

.excessNumberParticipants {
	margin-left: 12px;
	font-size: xx-small;
	font-weight: bold;
}

.chatParticipantContainer {
	text-align: center;
	background-color: var(--white-two);
	border-radius: 12px;
	margin: 15px 0;
}

.participantCount {
	font-size: x-small;
	font-weight: bold;
	padding: 10px 0;
}

.chatDonateContainer {
	padding: 0;
}

span.version {
	font-size: x-small;
	font-weight: bold;
	border: 2px solid;
	padding: 3px;
	vertical-align: top;
	cursor: help;
	text-transform: uppercase;
}

.tableName {
	font-size: smaller;
}

.participantRow {
	margin: 15px;
}

.aloneWrapper {
	margin-top: 30px;
	text-align: center;
	color: var(--brown-grey);
	font-size: 12px;
}

.participantImg img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
}

.participantName {
	padding-top: 2px;
	text-align: left;
	font-size: initial;
	color: black;
}

.connectionSpinner {
	font-size: 12px;
	text-align: center;
}

.chatButton.chatBlockButton.muteButton {
	background-color: var(--faded-red) !important;
}

.chatButton.chatBlockButton.muteButton.muted {
	background-color: var(--brownish-grey) !important;
}

.muteButton img {
	height: 15px;
	margin-right: 5px;
	margin-left: -5px;

}

.muteButtonText {
	display: inline-block;
}

.participantVoiceStatus {
	padding: 0;
}

.participantVoiceStatus img {
	height: 20px;
}

.voiceIcon {
	width: 20px;
	height: 20px;
}

.voiceIcon.muted {
	/*noinspection CssUnknownTarget*/
	background-image: url("/assets/icons/microphone-slash.svg");
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.voiceIcon.speaking {
	/*noinspection CssUnknownTarget*/
	background-image: url("/assets/icons/talk.svg");
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}
