.deleteProfile {
    float: right;
    background-color: #dc3545 !important;
    margin-top: -40px !important;
}

.deleteButton {
    background-color: #dc3545 !important;
    margin-right: 30px;
}


.settings-container #resetPasswordOld {
    margin-bottom: 50px;
}
