.settings-container {
    margin-bottom: 200px ;
}

.deleteProfile {
    float: right;
    background-color: #dc3545 !important;
}

.deleteButton {
    background-color: #dc3545 !important;
    margin-right: 30px;
}
