/*Body*/
.profilContainer {
    position: relative;
    padding-bottom: 100px;
    margin-top: 80px !important;
    padding-left: 0;
    padding-right: 0;
    width: 720px;
    margin: 0 auto;
}


.profilContainer h3 {
    text-align: left;
    padding-bottom: 67px;
}

.profilContainer h4 {
    display:inline-block;
    font-size: 18px;
    font-weight: 500;
    color: var(--brownish-grey);
}

.label {
    font-family: Lato;
    font-size: 13px;
    font-weight: bold;
    color: var(--brownish-grey);
}

.iconProfile {
    display: inline-block;
    vertical-align: top;
    height: 20px;
    margin-right: 10px;
}

.rowTwo {
    margin-top: 10px;
}

#buttonSave {
    width: 148px;
    height: 40px;
    margin-right: 20px;
    border-radius: 10px;
}

#buttonExit {
    width: 148px;
    height: 40px;
    border-radius: 10px;
}

.inputForm {
    width: 46%;
    border-radius: 12px;
    margin: 10px;
}

.textFields {
    margin-top: 30px;
}

.textForm {
    margin: 10px;
}

.textForm2 {
    margin-top: 30px;
}

.textArea {
    border-radius: 12px;
    border: solid 1px var(--very-light-pink) !important;
    background-color: var(--white) !important;
}

.form-control {
    border-radius: 12px;
    border: solid 1px var(--very-light-pink) !important;
    background-color: var(--white) !important;
}

.klarnaLogo {
    height: 40px;
}

