/*HEADING STYLES*/

.settings h3 {
    text-align: left;
    padding-bottom: 20px;
    color: var(--brownish-grey);
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.settings h4 {
    text-align: left;
    font-size: 18px;
    color: var(--brownish-grey);
    margin-bottom: 0 !important;
    margin-left: 25px;
}

.settings h5 {
    text-align: left;
    font-size: 20px;
    margin-top: 30px;
    color: var(--brownish-grey);
}

.settings h6 {
    text-align: left;
    font-size: 18px;
    color: var(--brownish-grey);
    margin: 0;
}

.settings .box-heading {
    font-size: 18px;
    color: var(--brownish-grey);
    margin-bottom: 15px;
    margin-left: 10px;
}

.settings .box-heading img{
    width: 18px;
    height: 18px;
    object-fit: contain;
    float: left;
}



/*BOX STYLES*/

.settings .white-box {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--white);
    border-radius: 12px;
    width: 100%;
    height: auto;
    padding: 30px 60px 40px 60px;
}

.settings {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    text-align: left;
}

.settings-container {
    margin-bottom: 60px;
}

.support .white-box {
    margin-bottom: 150px;
}



/*BUTTON STYLES*/

.settings .small-button{
    width: 150px;
}

.settings .btn{
    width: 130px;
    height: 40px;
    border: none;
    text-decoration: none;
    color: var(--white);
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.3px;
    text-align: center;
    border-radius: 12px;
    margin-top: 40px;
}

.settings .large-button{
    width: 296px;
}

.settings .button-orange{
    background-color: var(--yellow-orange);
}

.settings .button-grey {
    background-color: var(--very-light-pink);
}

.settings .button-grey:focus:active:hover {
    background-color: var(--very-light-pink);
    transform: scale(1.05);
}

.settings .button-orange:focus:active:hover  {
    background-color: var(--yellow-orange);
    transform: scale(1.05);
}
