.searchResultHolder {
    border-radius: 12px;
    padding: 0px;
    box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.05);
    margin-bottom: 20px;
    transition:all 0.3s ease;
    cursor: pointer;
}

.searchResultHolder:hover {
    transform: scale(1.05);
}

.searchResultRow {
    padding: 20px;
}

.searchResultHolder h5 {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 8px;
}

.noResults h5{
    font-family: 'Lato', 'sans-serif';
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 18px;
    margin-top: 50px;
    margin-left: 25px;
}

.searchResultHolder p {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    margin-bottom: 0px;
}

.searchResultRow img {
    float: right;
}
