.companyName {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #6e6e6e;
}

.companyInfo {
    margin-top: 10px;
}

.infoRow {
    align-items: baseline;
}

.infoImageHolder {
    padding-right: 8px;
}

.infoNameHolder {
    padding-left: 0px;
}

.companyInfo p {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.09;
    letter-spacing: 1px;
    color: #aeaeae;
    margin-bottom: 0px;
}