.companyButtonContainer h5{
    font-family: 'Lato', 'sans-serif';
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #858585;
    margin-bottom: 20px;
}

.buttonRow {
    text-align: center;
}

.buttonCol {
    padding-right: 0px;
    padding-left: 0px;
    transition:all 0.3s ease;
}

.buttonCol img {
    box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.05);
    border-radius: 12px;
}

.buttonCol:hover {
    transform: scale(1.05);
}
