.companyLiveStream p {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: var(--brown-grey-two);
    margin-bottom: 45px;
    margin-top: 18px;
}


.companyLiveStream img {
    width: 100%
}