.buttonRow {
    text-align: center;
}

.buttonCol {
    padding-right: 0px;
    padding-left: 0px;
    transition:all 0.3s ease;
    cursor: pointer;
}

.buttonCol img {
    box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.05);
    border-radius: 12px;
    width: 95%;
}

.buttonCol:hover {
    transform: scale(1.05);
}
