.footerContainer {
	background: white;
	bottom: 0;
	position: fixed;
	text-transform: uppercase;
	padding-top: 20px;
}

.adabayCol {
	text-align: center;
}

.adabayHosting {
	font-size: 9px;
	font-weight: 700;
	line-height: 1.4;
	letter-spacing: 1.3px;
	margin-top: 10px;
}

.adabayCol a {
	text-align: center;
	font-size: 10px;
	color: var(--brownish-grey);
}

.adabayLogo {
	width: 20px;
}

.footerInfo {
	text-align: right;
}

.socialLink, .footerLink {
	margin: 0 10px;
}

.footerLinksText {
	margin-top: 10px;
}


.footerLinkCol {
	padding: 0;
}

.footerLink, .footerLink:hover {
	font-size: 11px;
	color: var(--brownish-grey);
	font-weight: bold;
	letter-spacing: 1.3px;
}

.footerInfo {
	align-items: center;
}

.copyright {
	font-size: 8px;
	font-weight: 700;
	letter-spacing: 1.3px;
	margin: 0 10px 10px 10px;
}

.socialLabel, .socialLabel:hover {
	font-size: 8px;
	font-weight: 700;
	letter-spacing: 1.3px;
	margin-left: 5px;
	color: var(--brownish-grey);
}

@media (max-device-width: 500px) {
	.footerLink {
		display: block;
	}
}
