.imprintContainer {
    min-height: 100%;
    margin-top: 100px;
}

.imprintTextContainer {
    padding-left: 0;
}

.imprintContainer h1 {
    font-family: Lato, sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #636363;
    margin-bottom: 30px;
}

.imprintContainer p {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    color: #aeaeae;
}