.inline-div {
	white-space: nowrap;
	overflow-x: auto;
}

.inline-div > * {
	display: inline-block;
}

.center-content {
	text-align: center;
}

.stream-icons {
	margin-bottom: 3px;
}

.company-name {
	margin-left: 1%;
}

.aspect-ratio {
	position: relative;
	width: 100%;
	height: 0;

	/* padding-bottom = iframe.height/iframe.width * 100
	   ( 315 / 560 * 100 ~> 56 ) which is a 16:9 aspect ratio
	see: https://fettblog.eu/blog/2013/06/16/preserving-aspect-ratio-for-embedded-iframes/
	*/
	padding-bottom: 56%;
}

.aspect-ratio > iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.float-right {
	float: right;
}

.shareRow {
	margin-top: 20px;
}

.shareCol, .feedbackCol a {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 14px;
	cursor: pointer;
}

.shareCol {
	text-align: right;
}

.shareCol img {
	height: 20px;
	vertical-align: text-bottom;
	margin-right: 5px;
}

.shareButton, .shareButton:hover, .shareButton:active, .shareButton:focus {
	border-radius: 13px;
	background-color: transparent;
	color: var(--brownish-grey);
	font-size: 13px;
	border: 2px solid var(--brownish-grey);
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
	font-family: "Lato", sans-serif;
	padding: 2px 10px;
	margin-left: 10px;
	display: inline-block;
}

.shareLink {
	border-radius: 13px;
	background-color: #eee;
	color: black;
	font-size: 14px;
	font-family: "Lato", sans-serif;
	cursor: text;
	border: none;
	padding: 5px 10px;
	font-weight: bold;
	letter-spacing: 1.1px;
	display: inline-block;
	max-width: 150px;
}
