.landingPageContainer {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}

@media (max-width: 576px) {
    .landingPageContainer {
        margin-right: 0;
        margin-left: 0;
        left: 0;
        right: 0;
    }
}
