.contentWrapper {
    min-height: calc(100% - var(--footer-height));
}

.pin {
    width: 30px;
    height: 30px;
    border-radius: 12px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.05);
}


.pin:hover {
    cursor: pointer;
}

.pin:after {
    position: absolute;
    content: "\00a0";
    display: block;
    height: 5px;
    /* transform: rotate( 45deg ); */
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 5px;
    left: 50%;
    top: 28px;
}

.pin-active:after {
    left: 50%;
}

.invisible {
    display: none;
}

.pin-active{
    display: inline-block;
    width: auto;
    background-position: 8px 5px;
    padding: 10px 10px 10px 10px
 }

.pinCafe.pin-active:after{
    background-color: var(--ugly-blue) !important;
}

.pinCafe.pin-active{
    background-color: var(--ugly-blue) !important;
}

.pin-active.pinRestaurant, .pinRestaurant.pin-active:after{
    background-color: var(--faded-green) !important;
}

.pin-active.pinBar, .pinBar.pin-active:after{
    background-color: var(--rose-red) !important;
}

.pin-active.pinBakery, .pinBakery.pin-active:after{
    background-color: var(--maize) !important;
}


.pin-active span{
    float: right;
    color: white;
    margin-right: 3px;
    margin-left: 27px;
    margin-top: -4px;
    vertical-align: middle;
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    letter-spacing: 1.3px;
    font-size: 16px;
}

.pinCafe {
    background-image: url("/assets/icons/cafe.svg");
    background-color: var(--pale-teal);
}

.pinCafe:after {
    background-color: var(--pale-teal);
}

.pinBar {
    background-image: url("/assets/icons/cocktail.svg");
    background-color: var(--faded-red);
}

.pinBar:after {
    background-color: var(--faded-red);
}

.pinRestaurant {
    background-image: url("/assets/icons/restaurant.svg");
    background-color: var(--light-sea-green);
}

.pinRestaurant:after {
    background-color: var(--light-sea-green);
}

.pinBakery {
    background-image: url("/assets/icons/baecker.svg");
    background-color: var(--beige);
}

.pinBakery:after {
    background-color: var(--beige);
}
