.passwordResetContainer {
    margin-top: 200px !important;
}

.passwordResetContainer .passwordResetSubmittedText {
    padding-top: 0;
    padding-left: 0;
}

.passwordResetCol {
    padding-left: 5%;
}

.passwordResetFormGroup2 {
    margin-bottom: 40px;
}