@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --faded-red: #d24557;
    --pale-teal: #8cbac2;
    --red-wine: #8e002a;
    --grey-blue: #61a1ac;
    --ugly-blue: #277f8e;
    --maize: #f7c44d;
    --yellow-orange: #f5af0b;
    --light-sea-green: #ade2bc;
    --light-teal: #8fd8a3;
    --faded-green: #76b186;
    --brownish-grey: #636363;
    --brown-grey: #909090;
    --rose-red: #c20039;
    --white: #ffffff;
    --beige: #fada90;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Lato', sans-serif;
}

#root {
  overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
    z-index: 99;
    background: white;
    height: 100px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 30px;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.navbar-collapse {
    align-items: baseline;
}

.brandImage {
    margin-left: 20px;
    padding: 0 !important;
}

.profileImage {
    margin-right: 20px !important;
}

a:hover {
    text-decoration: none;
}

@media (min-width: 769px) and (max-width: 1024px) {

    .navbar {
        margin-right: 15px;
        margin-left: 15px;
    }

}