/* lato-100 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	src: url('/assets/fonts/lato-v16-latin-100.eot'); /* IE9 Compat Modes */
	src: local('Lato Hairline'), local('Lato-Hairline'),
	url('/assets/fonts/lato-v16-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/assets/fonts/lato-v16-latin-100.woff2') format('woff2'), /* Super Modern Browsers */ url('/assets/fonts/lato-v16-latin-100.woff') format('woff'), /* Modern Browsers */ url('/assets/fonts/lato-v16-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */ url('/assets/fonts/lato-v16-latin-100.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-300 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: url('/assets/fonts/lato-v16-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Lato Light'), local('Lato-Light'),
	url('/assets/fonts/lato-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/assets/fonts/lato-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('/assets/fonts/lato-v16-latin-300.woff') format('woff'), /* Modern Browsers */ url('/assets/fonts/lato-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('/assets/fonts/lato-v16-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-300italic - latin */
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 300;
	src: url('/assets/fonts/lato-v16-latin-300italic.eot'); /* IE9 Compat Modes */
	src: local('Lato Light Italic'), local('Lato-LightItalic'),
	url('/assets/fonts/lato-v16-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/assets/fonts/lato-v16-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */ url('/assets/fonts/lato-v16-latin-300italic.woff') format('woff'), /* Modern Browsers */ url('/assets/fonts/lato-v16-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('/assets/fonts/lato-v16-latin-300italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-100italic - latin */
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 100;
	src: url('/assets/fonts/lato-v16-latin-100italic.eot'); /* IE9 Compat Modes */
	src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'),
	url('/assets/fonts/lato-v16-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/assets/fonts/lato-v16-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */ url('/assets/fonts/lato-v16-latin-100italic.woff') format('woff'), /* Modern Browsers */ url('/assets/fonts/lato-v16-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('/assets/fonts/lato-v16-latin-100italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-regular - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Lato Regular'), local('Lato-Regular'),
	url('/assets/fonts/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/assets/fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('/assets/fonts/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */ url('/assets/fonts/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('/assets/fonts/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-italic - latin */
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: url('/assets/fonts/lato-v16-latin-italic.eot'); /* IE9 Compat Modes */
	src: local('Lato Italic'), local('Lato-Italic'),
	url('/assets/fonts/lato-v16-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/assets/fonts/lato-v16-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('/assets/fonts/lato-v16-latin-italic.woff') format('woff'), /* Modern Browsers */ url('/assets/fonts/lato-v16-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('/assets/fonts/lato-v16-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700italic - latin */
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 700;
	src: url('/assets/fonts/lato-v16-latin-700italic.eot'); /* IE9 Compat Modes */
	src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
	url('/assets/fonts/lato-v16-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/assets/fonts/lato-v16-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */ url('/assets/fonts/lato-v16-latin-700italic.woff') format('woff'), /* Modern Browsers */ url('/assets/fonts/lato-v16-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('/assets/fonts/lato-v16-latin-700italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('/assets/fonts/lato-v16-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Lato Bold'), local('Lato-Bold'),
	url('/assets/fonts/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/assets/fonts/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('/assets/fonts/lato-v16-latin-700.woff') format('woff'), /* Modern Browsers */ url('/assets/fonts/lato-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('/assets/fonts/lato-v16-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-900 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: url('/assets/fonts/lato-v16-latin-900.eot'); /* IE9 Compat Modes */
	src: local('Lato Black'), local('Lato-Black'),
	url('/assets/fonts/lato-v16-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/assets/fonts/lato-v16-latin-900.woff2') format('woff2'), /* Super Modern Browsers */ url('/assets/fonts/lato-v16-latin-900.woff') format('woff'), /* Modern Browsers */ url('/assets/fonts/lato-v16-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */ url('/assets/fonts/lato-v16-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-900italic - latin */
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 900;
	src: url('/assets/fonts/lato-v16-latin-900italic.eot'); /* IE9 Compat Modes */
	src: local('Lato Black Italic'), local('Lato-BlackItalic'),
	url('/assets/fonts/lato-v16-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/assets/fonts/lato-v16-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */ url('/assets/fonts/lato-v16-latin-900italic.woff') format('woff'), /* Modern Browsers */ url('/assets/fonts/lato-v16-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('/assets/fonts/lato-v16-latin-900italic.svg#Lato') format('svg'); /* Legacy iOS */
}

:root {
	--red-wine: #8e002a;
	--yellow-orange: #f5af0b;
	--ugly-blue: #277f8e;
	--faded-green: #76b186;
	--brownish-grey: #636363;
	--brown-grey: #909090;
	--brown-grey-two: #aeaeae;
	--rose-red: #c20039;
	--white: #ffffff;
	--white-grey: #f4f4f4;
	--maize: #f7c44d;
	--grey-blue: #61a1ac;
	--light-teal: #8fd8a3;
	--faded-red: #d24557;
	--beige: #fada90;
	--pale-teal: #8cbac2;
	--light-sea-green: #ade2bc;
	--white: #ffffff;
	--brown-grey-two: #aeaeae;
	--white-two: #f4f4f4;
	--very-light-pink: #cdcdcd;
	--footer-height: 260px;
}

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	-webkit-transform: translate3d(0, -50px, 0);
	-ms-transform: translate3d(0, -50px, 0);
	transform: translate3d(0, -50px, 0);

	-webkit-transition: -webkit-transform .5s ease-out;
	-ms-transition: -webkit-transform .5s ease-out;
	transition: transform .5s ease-out;
}

.pace.pace-active {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
	display: block;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 10px;
	background: #636363;

	pointer-events: none;
}


html, body, #root {
	height: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Lato', sans-serif;
    background: var(--white-two);
}

#root {
	overflow-x: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

.navbar {
	z-index: 100;
	background: white;
	height: 100px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin: 30px;
	box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.05);
	border-radius: 12px;
}

.navbar-collapse {
	align-items: baseline;
}

.brandImage {
	margin-left: 20px;
	padding: 0 !important;
}

.brandImage:hover {
	cursor: pointer;
}

.profileImage {
	margin-right: 20px !important;
}

a:hover {
	text-decoration: none;
}

@media (min-width: 769px) and (max-width: 1024px) {

	.navbar {
		margin-right: 15px;
		margin-left: 15px;
	}

}

@media (max-width: 576px) {
	.brandImage {
		width: 100%;
	}

	.brandImage img {
		margin: 0 auto;
		display: block !important;
	}
}

.Fade {

	animation: FadeAnim;

	animation-duration: 3s;

	animation-delay: 0.1s;

	animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);

	animation-fill-mode: forwards;

	opacity: 0;

}

@keyframes FadeAnim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.loadingSpinner .spinner-grow {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
