body {
	background: rgba(254, 252, 243, 1);
}

.infoContainer {
	margin-top: 130px;
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100%;
	padding-right: 0;
	padding-left: 0;
}

.coronaText {
	padding-left: 15%;
}

.coronaText h4, .solutionText h4 {
	font-family: Lato, sans-serif;
	font-size: 30px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 1px;
	color: #636363;
	margin-bottom: 30px;
}

.coronaText p, .solutionText p {
	font-family: Lato, sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.53;
	letter-spacing: normal;
	color: #aeaeae;
}

.coronaImage {
	padding-right: 0;
}

.coronaImage img {
	float: right;
	width: 600px;
}

.coronaRow, .solutionRow {
	margin-bottom: 100px;
}

.solutionText {
	padding-right: 15%;
}

.solutionImage {
	margin-top: -10%;
}

.solutionImage img {
	float: left;
	width: 600px;
	margin-right: 180px;
}

@media (min-width: 769px) and (max-width: 1024px) {
	.coronaImage img, .solutionImage img {
		width: 400px;
	}

	.coronaRow {
		margin-bottom: 200px;
	}

	.coronaText {
		padding-left: 10%;
	}

	.solutionText {
		padding-right: 10%;
	}
}

@media (min-width: 577px) and (max-width: 768px) {
	.coronaImage img, .solutionImage img {
		width: 320px;
	}

	.coronaRow {
		margin-bottom: 150px;
	}

	.coronaText {
		padding-left: 10%;
	}

	.solutionText {
		padding-right: 10%;
	}

}

@media (max-width: 576px) {

	.infoContainer {
		margin-top: 40px;
	}

	.coronaImage img, .solutionImage img {
		width: 250px;
	}

	.coronaText, .solutionText {
		padding-left: 10%;
		padding-right: 10%;
	}

	.coronaText p, .solutionText p {
		font-size: 17px;
	}

	.solutionImage {
		margin-bottom: 40px;
	}

}
