.signUpContainer {
    width: 450px;
    border-radius: 12px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
    background: white;
    padding: 50px;
    margin-bottom: 150px;
    margin-top: -50px;
}

.signupContainer h4 {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--brownish-grey);
    margin-bottom: 40px;
}

.signupContainer p {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #aeaeae;
    margin-bottom: 30px;
}

#registerLaunchForm {
    margin-bottom: 0;
}

.form-control {
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    border-radius: 12px;
    border: solid 1px  #cdcdcd;
    border-left-style: none;
    width: 100%;
    height: 40px;
    box-shadow: none !important;
}

.form-control::placeholder {
    color: #cdcdcd;
}

.form-control:focus {
    border-color: var(--yellow-orange) !important;
}

.loginIcon {
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border: solid 1px #cdcdcd;
    border-right-style: none;
    padding: 7px 7px 7px 15px;
    background-color: white;
}

.loginIcon.focused {
    border: 1px solid var(--yellow-orange);
    border-right: none;
}

.registerEmail {
    margin-bottom: 30px;
}

.loginFormButton {
    border-radius: 12px;
    background-color: var(--yellow-orange);
    border: none;
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.3px;
    text-align: center;
    color: var(--white);
    width: 100%;
    height: 40px;
}

.loginFormButton:hover {
    background-color: var(--yellow-orange);
}

.loginFormButton:not(:disabled):not(.disabled):active {
    border: none;
    background-color: var(--yellow-orange);
}