.contentContainer > h3 {
	margin-bottom: 30px;
	padding-bottom: 0;
}

.contentContainer > p {
	font-size: 18px;
	color: var(--brown-grey);
	margin-bottom: 80px;
}

.aboutGrid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

