.aboutTile {
	width: 220px;
	height: 330px;
	border-radius: 12px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
	background-color: var(--white);
	overflow: hidden;
	margin: 30px 20px;
}

.aboutTile:hover .userPortrait {
	filter: none;
	-webkit-filter: none;
}

.userPortrait {
	width: 220px;
	height: 220px;
	background: var(--brownish-grey);
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	transition: all 0.7s;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.userDetails {
	padding: 15px 23px 25px 23px;
	line-height: normal;
}

.userName {
	font-size: 30px;
	text-transform: uppercase;
	color: var(--yellow-orange);
	margin-bottom: 4px;
	letter-spacing: 1px;
}

.userRole {
	color: var(--brown-grey);
	font-size: 13px;
}
