.contentContainer > h3 {
	margin-bottom: 30px;
	padding-bottom: 0;
}

.contentContainer > p {
	font-size: 18px;
	color: var(--brown-grey);
	margin-bottom: 80px;
}

.aboutGrid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.aboutWirVsVirus {
	align-items: flex-start;
	margin-bottom: 40px;
}

.aboutWirVsVirus img {
	max-width: 100%;
	width: 600px;
}

.aboutTeamRow {
	font-weight: bold;
}
